Flask==3.0.1
Flask-SQLAlchemy==3.1.1
Flask-RESTful==0.3.10
Flask-Cors==4.0.0
PyJWT==2.8.0
psycopg2-binary>=2.9.10
python-dotenv==1.0.1
Werkzeug==3.0.1
python-escpos==3.0
Pillow>=9.0.0
pyusb>=1.2.1
Flask-SocketIO==5.3.6
eventlet==0.35.1
gunicorn==21.2.0
fastapi==0.115.8
uvicorn==0.34.0
axoniq
pytest>=7.0.0
pytest-cov>=4.0.0
